{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
       <tbody>

                <tr>
                    <td class="text-start">AMZN</td>
                    <td class="text-start">Amazon.com Inc.</td>
                    <td class="text-end">1</td>
                    <td class="text-end">$3,421.37</td>
                    <td class="text-end">$3,421.37</td>
                </tr>

                <tr>
                    <td class="text-start">MSFT</td>
                    <td class="text-start">Microsoft Corporation</td>
                    <td class="text-end">5</td>
                    <td class="text-end">$334.69</td>
                    <td class="text-end">$1,673.45</td>
                </tr>

        </tbody>

        <!--<tfoot>-->
        <!--    <tr>-->
        <!--        <td class="border-0 fw-bold text-end" colspan="4">Cash</td>-->
        <!--        <td class="border-0 text-end">$4,905.18</td>-->
        <!--    </tr>-->
        <!--    <tr>-->
        <!--        <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>-->
        <!--        <td class="border-0 w-bold text-end">$10,000.00</td>-->
        <!--    </tr>-->
        <!--</tfoot>-->
    </table>
{% endblock %}
